/* MyCalendar.css */

/* 일요일 날짜: 빨간색 */
.fc-day-sun a {
    color: red;
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
    color: blue;

}

.fc-prev-button {
    @media screen and (max-width: 700px) {
        width: 37px;
        height: 37px;
    }

}

.fc-next-button {
    @media screen and (max-width: 700px) {
        width: 37px;
        height: 37px;
    }
}

.fc-button-group {
    @media screen and (max-width: 700px) {
        height: 38px;
    }
}

.fc-toolbar-title {
    @media screen and (max-width: 700px) {
        font-size: 1.50em;
    }
}

.fc-daygrid-day-number {
    @media screen and (max-width: 700px) {
        font-size: 13px;
        
    }
}
.fc-daygrid-day {
    @media screen and (max-width: 700px) {
        height: 50px;
    }
}

.fc-daygrid-event {
    @media screen and (max-width: 700px) {
        font-size: 10px;
        padding: 2px;
    }
}

.fc-scroller-harness,
.fc-scroller-harness-liquid {
    @media screen and (max-width: 700px) {
        height: calc(100% - 100px) !important;
    }
}