/* 기본 스타일 */
.fc {
    font-size: 12px; /* 기본 폰트 크기 */
}

.fc-day-sun a {
    color: red;
}

.fc-day-sat a {
    color: blue;
}

.fc-event {
    background-color: #4a90e2; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 2px 5px; 
}

.fc-daygrid-day.fc-day-today {
    background-color: #ffe0e0; 
    border-radius: 5px; 
}

.fc-daygrid-day-frame {
    padding: 1px 5px;
}

/* 모바일 화면 스타일 */
@media screen and (max-width: 700px) {
    .fc-prev-button, .fc-next-button {
        width: 25px;
        height: 25px;
        font-size: 10px;
    }
    
    .fc-button-group {
        height: 30px;
    }
    
    .fc-toolbar-title {
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    
    .fc-daygrid-day-number {
        font-size: 10px;
    }
    
    .fc-daygrid-day {
        height: 30px;
    }
    
    .fc-daygrid-event {
        font-size: 8px;
        padding: 1px;
    }

    .fc-toolbar-chunk .fc-button {
        color: white;
        border: none; 
        border-radius: 5px; 
        height: 25px;
        padding: 3px 7px; 
        font-size: 10px;
    }

    .fc .fc-toolbar-title {
        font-size: 20px;
    }
    
    .fc .fc-toolbar.fc-header-toolbar {
        margin-bottom: 10px;
        height: 25px;
    }

    .fc-daygrid-day-frame {
        padding: 1px;
    }
}

/* 추가 일반 스타일 */
.fc-header-toolbar {
    height: 30px;
}
